// .action-footer {
//   // height: 50px;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   align-items: center;
//   margin: 10px 15px;
//   justify-content: flex-end;
//   column-gap: 4px;
// }

.action-footer-sidepane {
  margin: 10px 15px;
}

.app-action-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

.app-toolbar-action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // gap: 6px;
  align-items: center;
}

.app-toolbar-action {
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  column-gap: 6px;
  align-content: center;
  height: var(--oak-toolbar-min-height);
  padding: 0 10px;
  // border: 1px dotted transparent;
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: var(--color-container-darker);
  }
  &.app-toolbar-action--active {
    background-color: var(--color-surface);
    color: var(--color-secondary);
  }
}

.sidepane-main {
  height: calc(
    100vh - var(--oak-toolbar-min-height) - var(--oak-app-layout-topbar-height) -
      50px - 1px
  );
  overflow-y: auto;
  overflow-x: hidden;
}

.window-close-action {
  display: flex;
  justify-content: flex-end;
  .window-close-action--icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms ease-in-out;
    &:hover {
      color: var(--color-danger);
    }
  }
}
