* {
  --topbar-height: 40px;
}

.app-action-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.app-toolbar-action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}
