.theme_dark {
  .app-swatch-bg-1 {
    background-color: #7a461f;
  }
  .app-swatch-bg-i-1 {
    color: #7a461f;
  }
  .app-swatch-fg-1 {
    color: #fff;
  }
  .app-swatch-outline-1 {
    border: 1px solid #7a461f;
  }
  .app-swatch-bg-2 {
    background-color: #7a6d1f;
  }
  .app-swatch-bg-i-2 {
    color: #7a6d1f;
  }
  .app-swatch-fg-2 {
    color: #fff;
  }
  .app-swatch-outline-2 {
    border: 1px solid #7a6d1f;
  }
  .app-swatch-bg-3 {
    background-color: #607a1f;
  }
  .app-swatch-bg-i-3 {
    color: #607a1f;
  }
  .app-swatch-fg-3 {
    color: #fff;
  }
  .app-swatch-outline-3 {
    border: 1px solid #607a1f;
  }
  .app-swatch-bg-4 {
    background-color: #397a1f;
  }
  .app-swatch-bg-i-4 {
    color: #397a1f;
  }
  .app-swatch-fg-4 {
    color: #fff;
  }
  .app-swatch-outline-4 {
    border: 1px solid #397a1f;
  }
  .app-swatch-bg-5 {
    background-color: #1f7a2c;
  }
  .app-swatch-bg-i-5 {
    color: #1f7a2c;
  }
  .app-swatch-fg-5 {
    color: #fff;
  }
  .app-swatch-outline-5 {
    border: 1px solid #1f7a2c;
  }
  .app-swatch-bg-6 {
    background-color: #1f7a53;
  }
  .app-swatch-bg-i-6 {
    color: #1f7a53;
  }
  .app-swatch-fg-6 {
    color: #fff;
  }
  .app-swatch-outline-6 {
    border: 1px solid #1f7a53;
  }
  .app-swatch-bg-7 {
    background-color: #1f7a7a;
  }
  .app-swatch-bg-i-7 {
    color: #1f7a7a;
  }
  .app-swatch-fg-7 {
    color: #fff;
  }
  .app-swatch-outline-7 {
    border: 1px solid #1f7a7a;
  }
  .app-swatch-bg-8 {
    background-color: #1f537a;
  }
  .app-swatch-bg-i-8 {
    color: #1f537a;
  }
  .app-swatch-fg-8 {
    color: #fff;
  }
  .app-swatch-outline-8 {
    border: 1px solid #1f537a;
  }
  .app-swatch-bg-9 {
    background-color: #1f2c7a;
  }
  .app-swatch-bg-i-9 {
    color: #1f2c7a;
  }
  .app-swatch-fg-9 {
    color: #fff;
  }
  .app-swatch-outline-9 {
    border: 1px solid #1f2c7a;
  }
  .app-swatch-bg-10 {
    background-color: #391f7a;
  }
  .app-swatch-bg-i-10 {
    color: #391f7a;
  }
  .app-swatch-fg-10 {
    color: #fff;
  }
  .app-swatch-outline-10 {
    border: 1px solid #391f7a;
  }
  .app-swatch-bg-11 {
    background-color: #601f7a;
  }
  .app-swatch-bg-i-11 {
    color: #601f7a;
  }
  .app-swatch-fg-11 {
    color: #fff;
  }
  .app-swatch-outline-11 {
    border: 1px solid #601f7a;
  }
  .app-swatch-bg-12 {
    background-color: #7a1f6d;
  }
  .app-swatch-bg-i-12 {
    color: #7a1f6d;
  }
  .app-swatch-fg-12 {
    color: #fff;
  }
  .app-swatch-outline-12 {
    border: 1px solid #7a1f6d;
  }
  .app-swatch-bg-13 {
    background-color: #7a1f46;
  }
  .app-swatch-bg-i-13 {
    color: #7a1f46;
  }
  .app-swatch-fg-13 {
    color: #fff;
  }
  .app-swatch-outline-13 {
    border: 1px solid #7a1f46;
  }
  .app-swatch-bg-14 {
    background-color: #7a1f1f;
  }
  .app-swatch-bg-i-14 {
    color: #7a1f1f;
  }
  .app-swatch-fg-14 {
    color: #fff;
  }
  .app-swatch-outline-14 {
    border: 1px solid #7a1f1f;
  }
  .app-swatch-bg-15 {
    background-color: #995f33;
  }
  .app-swatch-bg-i-15 {
    color: #995f33;
  }
  .app-swatch-fg-15 {
    color: #fff;
  }
  .app-swatch-outline-15 {
    border: 1px solid #995f33;
  }
  .app-swatch-bg-16 {
    background-color: #998a33;
  }
  .app-swatch-bg-i-16 {
    color: #998a33;
  }
  .app-swatch-fg-16 {
    color: #000;
  }
  .app-swatch-outline-16 {
    border: 1px solid #998a33;
  }
  .app-swatch-bg-17 {
    background-color: #7c9933;
  }
  .app-swatch-bg-i-17 {
    color: #7c9933;
  }
  .app-swatch-fg-17 {
    color: #000;
  }
  .app-swatch-outline-17 {
    border: 1px solid #7c9933;
  }
  .app-swatch-bg-18 {
    background-color: #509933;
  }
  .app-swatch-bg-i-18 {
    color: #509933;
  }
  .app-swatch-fg-18 {
    color: #fff;
  }
  .app-swatch-outline-18 {
    border: 1px solid #509933;
  }
  .app-swatch-bg-19 {
    background-color: #339942;
  }
  .app-swatch-bg-i-19 {
    color: #339942;
  }
  .app-swatch-fg-19 {
    color: #fff;
  }
  .app-swatch-outline-19 {
    border: 1px solid #339942;
  }
  .app-swatch-bg-20 {
    background-color: #33996d;
  }
  .app-swatch-bg-i-20 {
    color: #33996d;
  }
  .app-swatch-fg-20 {
    color: #fff;
  }
  .app-swatch-outline-20 {
    border: 1px solid #33996d;
  }
  .app-swatch-bg-21 {
    background-color: #339999;
  }
  .app-swatch-bg-i-21 {
    color: #339999;
  }
  .app-swatch-fg-21 {
    color: #fff;
  }
  .app-swatch-outline-21 {
    border: 1px solid #339999;
  }
  .app-swatch-bg-22 {
    background-color: #336d99;
  }
  .app-swatch-bg-i-22 {
    color: #336d99;
  }
  .app-swatch-fg-22 {
    color: #fff;
  }
  .app-swatch-outline-22 {
    border: 1px solid #336d99;
  }
  .app-swatch-bg-23 {
    background-color: #334299;
  }
  .app-swatch-bg-i-23 {
    color: #334299;
  }
  .app-swatch-fg-23 {
    color: #fff;
  }
  .app-swatch-outline-23 {
    border: 1px solid #334299;
  }
  .app-swatch-bg-24 {
    background-color: #503399;
  }
  .app-swatch-bg-i-24 {
    color: #503399;
  }
  .app-swatch-fg-24 {
    color: #fff;
  }
  .app-swatch-outline-24 {
    border: 1px solid #503399;
  }
  .app-swatch-bg-25 {
    background-color: #7c3399;
  }
  .app-swatch-bg-i-25 {
    color: #7c3399;
  }
  .app-swatch-fg-25 {
    color: #fff;
  }
  .app-swatch-outline-25 {
    border: 1px solid #7c3399;
  }
  .app-swatch-bg-26 {
    background-color: #99338a;
  }
  .app-swatch-bg-i-26 {
    color: #99338a;
  }
  .app-swatch-fg-26 {
    color: #fff;
  }
  .app-swatch-outline-26 {
    border: 1px solid #99338a;
  }
  .app-swatch-bg-27 {
    background-color: #99335f;
  }
  .app-swatch-bg-i-27 {
    color: #99335f;
  }
  .app-swatch-fg-27 {
    color: #fff;
  }
  .app-swatch-outline-27 {
    border: 1px solid #99335f;
  }
  .app-swatch-bg-28 {
    background-color: #993333;
  }
  .app-swatch-bg-i-28 {
    color: #993333;
  }
  .app-swatch-fg-28 {
    color: #fff;
  }
  .app-swatch-outline-28 {
    border: 1px solid #993333;
  }
  .app-swatch-bg-29 {
    background-color: #cc7533;
  }
  .app-swatch-bg-i-29 {
    color: #cc7533;
  }
  .app-swatch-fg-29 {
    color: #000;
  }
  .app-swatch-outline-29 {
    border: 1px solid #cc7533;
  }
  .app-swatch-bg-30 {
    background-color: #a39229;
  }
  .app-swatch-bg-i-30 {
    color: #a39229;
  }
  .app-swatch-fg-30 {
    color: #000;
  }
  .app-swatch-outline-30 {
    border: 1px solid #a39229;
  }
  .app-swatch-bg-31 {
    background-color: #80a329;
  }
  .app-swatch-bg-i-31 {
    color: #80a329;
  }
  .app-swatch-fg-31 {
    color: #000;
  }
  .app-swatch-outline-31 {
    border: 1px solid #80a329;
  }
  .app-swatch-bg-32 {
    background-color: #5ecc33;
  }
  .app-swatch-bg-i-32 {
    color: #5ecc33;
  }
  .app-swatch-fg-32 {
    color: #000;
  }
  .app-swatch-outline-32 {
    border: 1px solid #5ecc33;
  }
  .app-swatch-bg-33 {
    background-color: #33cc4a;
  }
  .app-swatch-bg-i-33 {
    color: #33cc4a;
  }
  .app-swatch-fg-33 {
    color: #000;
  }
  .app-swatch-outline-33 {
    border: 1px solid #33cc4a;
  }
  .app-swatch-bg-34 {
    background-color: #33cc8a;
  }
  .app-swatch-bg-i-34 {
    color: #33cc8a;
  }
  .app-swatch-fg-34 {
    color: #000;
  }
  .app-swatch-outline-34 {
    border: 1px solid #33cc8a;
  }
  .app-swatch-bg-35 {
    background-color: #33cccc;
  }
  .app-swatch-bg-i-35 {
    color: #33cccc;
  }
  .app-swatch-fg-35 {
    color: #000;
  }
  .app-swatch-outline-35 {
    border: 1px solid #33cccc;
  }
  .app-swatch-bg-36 {
    background-color: #338acc;
  }
  .app-swatch-bg-i-36 {
    color: #338acc;
  }
  .app-swatch-fg-36 {
    color: #fff;
  }
  .app-swatch-outline-36 {
    border: 1px solid #338acc;
  }
  .app-swatch-bg-37 {
    background-color: #334acc;
  }
  .app-swatch-bg-i-37 {
    color: #334acc;
  }
  .app-swatch-fg-37 {
    color: #fff;
  }
  .app-swatch-outline-37 {
    border: 1px solid #334acc;
  }
  .app-swatch-bg-38 {
    background-color: #5e33cc;
  }
  .app-swatch-bg-i-38 {
    color: #5e33cc;
  }
  .app-swatch-fg-38 {
    color: #fff;
  }
  .app-swatch-outline-38 {
    border: 1px solid #5e33cc;
  }
  .app-swatch-bg-39 {
    background-color: #a133cc;
  }
  .app-swatch-bg-i-39 {
    color: #a133cc;
  }
  .app-swatch-fg-39 {
    color: #fff;
  }
  .app-swatch-outline-39 {
    border: 1px solid #a133cc;
  }
  .app-swatch-bg-40 {
    background-color: #cc33b5;
  }
  .app-swatch-bg-i-40 {
    color: #cc33b5;
  }
  .app-swatch-fg-40 {
    color: #fff;
  }
  .app-swatch-outline-40 {
    border: 1px solid #cc33b5;
  }
  .app-swatch-bg-41 {
    background-color: #cc3375;
  }
  .app-swatch-bg-i-41 {
    color: #cc3375;
  }
  .app-swatch-fg-41 {
    color: #fff;
  }
  .app-swatch-outline-41 {
    border: 1px solid #cc3375;
  }
  .app-swatch-bg-42 {
    background-color: #cc3333;
  }
  .app-swatch-bg-i-42 {
    color: #cc3333;
  }
  .app-swatch-fg-42 {
    color: #fff;
  }
  .app-swatch-outline-42 {
    border: 1px solid #cc3333;
  }
  .app-swatch-bg-43 {
    background-color: #cc7533;
  }
  .app-swatch-bg-i-43 {
    color: #cc7533;
  }
  .app-swatch-fg-43 {
    color: #000;
  }
  .app-swatch-outline-43 {
    border: 1px solid #cc7533;
  }
  .app-swatch-bg-44 {
    background-color: #ccb633;
  }
  .app-swatch-bg-i-44 {
    color: #ccb633;
  }
  .app-swatch-fg-44 {
    color: #000;
  }
  .app-swatch-outline-44 {
    border: 1px solid #ccb633;
  }
  .app-swatch-bg-45 {
    background-color: #a0cc33;
  }
  .app-swatch-bg-i-45 {
    color: #a0cc33;
  }
  .app-swatch-fg-45 {
    color: #000;
  }
  .app-swatch-outline-45 {
    border: 1px solid #a0cc33;
  }
  .app-swatch-bg-46 {
    background-color: #5fcc33;
  }
  .app-swatch-bg-i-46 {
    color: #5fcc33;
  }
  .app-swatch-fg-46 {
    color: #000;
  }
  .app-swatch-outline-46 {
    border: 1px solid #5fcc33;
  }
  .app-swatch-bg-47 {
    background-color: #33cc49;
  }
  .app-swatch-bg-i-47 {
    color: #33cc49;
  }
  .app-swatch-fg-47 {
    color: #000;
  }
  .app-swatch-outline-47 {
    border: 1px solid #33cc49;
  }
  .app-swatch-bg-48 {
    background-color: #33cc8a;
  }
  .app-swatch-bg-i-48 {
    color: #33cc8a;
  }
  .app-swatch-fg-48 {
    color: #000;
  }
  .app-swatch-outline-48 {
    border: 1px solid #33cc8a;
  }
  .app-swatch-bg-49 {
    background-color: #33cccc;
  }
  .app-swatch-bg-i-49 {
    color: #33cccc;
  }
  .app-swatch-fg-49 {
    color: #000;
  }
  .app-swatch-outline-49 {
    border: 1px solid #33cccc;
  }
  .app-swatch-bg-50 {
    background-color: #5ca1d6;
  }
  .app-swatch-bg-i-50 {
    color: #5ca1d6;
  }
  .app-swatch-fg-50 {
    color: #000;
  }
  .app-swatch-outline-50 {
    border: 1px solid #5ca1d6;
  }
  .app-swatch-bg-51 {
    background-color: #5c6ed6;
  }
  .app-swatch-bg-i-51 {
    color: #5c6ed6;
  }
  .app-swatch-fg-51 {
    color: #fff;
  }
  .app-swatch-outline-51 {
    border: 1px solid #5c6ed6;
  }
  .app-swatch-bg-52 {
    background-color: #7e5cd6;
  }
  .app-swatch-bg-i-52 {
    color: #7e5cd6;
  }
  .app-swatch-fg-52 {
    color: #fff;
  }
  .app-swatch-outline-52 {
    border: 1px solid #7e5cd6;
  }
  .app-swatch-bg-53 {
    background-color: #b45cd6;
  }
  .app-swatch-bg-i-53 {
    color: #b45cd6;
  }
  .app-swatch-fg-53 {
    color: #000;
  }
  .app-swatch-outline-53 {
    border: 1px solid #b45cd6;
  }
  .app-swatch-bg-54 {
    background-color: #d65cc4;
  }
  .app-swatch-bg-i-54 {
    color: #d65cc4;
  }
  .app-swatch-fg-54 {
    color: #000;
  }
  .app-swatch-outline-54 {
    border: 1px solid #d65cc4;
  }
  .app-swatch-bg-55 {
    background-color: #d65c91;
  }
  .app-swatch-bg-i-55 {
    color: #d65c91;
  }
  .app-swatch-fg-55 {
    color: #000;
  }
  .app-swatch-outline-55 {
    border: 1px solid #d65c91;
  }
  .app-swatch-bg-56 {
    background-color: #d65c5c;
  }
  .app-swatch-bg-i-56 {
    color: #d65c5c;
  }
  .app-swatch-fg-56 {
    color: #000;
  }
  .app-swatch-outline-56 {
    border: 1px solid #d65c5c;
  }
  .app-swatch-bg-57 {
    background-color: #d6905c;
  }
  .app-swatch-bg-i-57 {
    color: #d6905c;
  }
  .app-swatch-fg-57 {
    color: #000;
  }
  .app-swatch-outline-57 {
    border: 1px solid #d6905c;
  }
  .app-swatch-bg-58 {
    background-color: #d6c55c;
  }
  .app-swatch-bg-i-58 {
    color: #d6c55c;
  }
  .app-swatch-fg-58 {
    color: #000;
  }
  .app-swatch-outline-58 {
    border: 1px solid #d6c55c;
  }
  .app-swatch-bg-59 {
    background-color: #b3d65c;
  }
  .app-swatch-bg-i-59 {
    color: #b3d65c;
  }
  .app-swatch-fg-59 {
    color: #000;
  }
  .app-swatch-outline-59 {
    border: 1px solid #b3d65c;
  }
  .app-swatch-bg-60 {
    background-color: #7fd65c;
  }
  .app-swatch-bg-i-60 {
    color: #7fd65c;
  }
  .app-swatch-fg-60 {
    color: #000;
  }
  .app-swatch-outline-60 {
    border: 1px solid #7fd65c;
  }
  .app-swatch-bg-61 {
    background-color: #5cd66d;
  }
  .app-swatch-bg-i-61 {
    color: #5cd66d;
  }
  .app-swatch-fg-61 {
    color: #000;
  }
  .app-swatch-outline-61 {
    border: 1px solid #5cd66d;
  }
  .app-swatch-bg-62 {
    background-color: #5cd6a2;
  }
  .app-swatch-bg-i-62 {
    color: #5cd6a2;
  }
  .app-swatch-fg-62 {
    color: #000;
  }
  .app-swatch-outline-62 {
    border: 1px solid #5cd6a2;
  }
  .app-swatch-bg-63 {
    background-color: #5cd6d6;
  }
  .app-swatch-bg-i-63 {
    color: #5cd6d6;
  }
  .app-swatch-fg-63 {
    color: #000;
  }
  .app-swatch-outline-63 {
    border: 1px solid #5cd6d6;
  }
  .app-swatch-bg-64 {
    background-color: #5ca2d6;
  }
  .app-swatch-bg-i-64 {
    color: #5ca2d6;
  }
  .app-swatch-fg-64 {
    color: #000;
  }
  .app-swatch-outline-64 {
    border: 1px solid #5ca2d6;
  }
  .app-swatch-bg-65 {
    background-color: #8592e0;
  }
  .app-swatch-bg-i-65 {
    color: #8592e0;
  }
  .app-swatch-fg-65 {
    color: #000;
  }
  .app-swatch-outline-65 {
    border: 1px solid #8592e0;
  }
  .app-swatch-bg-66 {
    background-color: #9f85e0;
  }
  .app-swatch-bg-i-66 {
    color: #9f85e0;
  }
  .app-swatch-fg-66 {
    color: #000;
  }
  .app-swatch-outline-66 {
    border: 1px solid #9f85e0;
  }
  .app-swatch-bg-67 {
    background-color: #b35cd6;
  }
  .app-swatch-bg-i-67 {
    color: #b35cd6;
  }
  .app-swatch-fg-67 {
    color: #000;
  }
  .app-swatch-outline-67 {
    border: 1px solid #b35cd6;
  }
  .app-swatch-bg-68 {
    background-color: #d65cc5;
  }
  .app-swatch-bg-i-68 {
    color: #d65cc5;
  }
  .app-swatch-fg-68 {
    color: #000;
  }
  .app-swatch-outline-68 {
    border: 1px solid #d65cc5;
  }
  .app-swatch-bg-69 {
    background-color: #d65c90;
  }
  .app-swatch-bg-i-69 {
    color: #d65c90;
  }
  .app-swatch-fg-69 {
    color: #000;
  }
  .app-swatch-outline-69 {
    border: 1px solid #d65c90;
  }
  .app-swatch-bg-70 {
    background-color: #d65c5c;
  }
  .app-swatch-bg-i-70 {
    color: #d65c5c;
  }
  .app-swatch-fg-70 {
    color: #000;
  }
  .app-swatch-outline-70 {
    border: 1px solid #d65c5c;
  }
  .app-swatch-bg-71 {
    background-color: #e0ac85;
  }
  .app-swatch-bg-i-71 {
    color: #e0ac85;
  }
  .app-swatch-fg-71 {
    color: #000;
  }
  .app-swatch-outline-71 {
    border: 1px solid #e0ac85;
  }
  .app-swatch-bg-72 {
    background-color: #e0d385;
  }
  .app-swatch-bg-i-72 {
    color: #e0d385;
  }
  .app-swatch-fg-72 {
    color: #000;
  }
  .app-swatch-outline-72 {
    border: 1px solid #e0d385;
  }
  .app-swatch-bg-73 {
    background-color: #c6e085;
  }
  .app-swatch-bg-i-73 {
    color: #c6e085;
  }
  .app-swatch-fg-73 {
    color: #000;
  }
  .app-swatch-outline-73 {
    border: 1px solid #c6e085;
  }
  .app-swatch-bg-74 {
    background-color: #9fe085;
  }
  .app-swatch-bg-i-74 {
    color: #9fe085;
  }
  .app-swatch-fg-74 {
    color: #000;
  }
  .app-swatch-outline-74 {
    border: 1px solid #9fe085;
  }
  .app-swatch-bg-75 {
    background-color: #85e092;
  }
  .app-swatch-bg-i-75 {
    color: #85e092;
  }
  .app-swatch-fg-75 {
    color: #000;
  }
  .app-swatch-outline-75 {
    border: 1px solid #85e092;
  }
  .app-swatch-bg-76 {
    background-color: #85e0b9;
  }
  .app-swatch-bg-i-76 {
    color: #85e0b9;
  }
  .app-swatch-fg-76 {
    color: #000;
  }
  .app-swatch-outline-76 {
    border: 1px solid #85e0b9;
  }
  .app-swatch-bg-77 {
    background-color: #85e0e0;
  }
  .app-swatch-bg-i-77 {
    color: #85e0e0;
  }
  .app-swatch-fg-77 {
    color: #000;
  }
  .app-swatch-outline-77 {
    border: 1px solid #85e0e0;
  }
  .app-swatch-bg-78 {
    background-color: #85b9e0;
  }
  .app-swatch-bg-i-78 {
    color: #85b9e0;
  }
  .app-swatch-fg-78 {
    color: #000;
  }
  .app-swatch-outline-78 {
    border: 1px solid #85b9e0;
  }
  .app-swatch-bg-79 {
    background-color: #8592e0;
  }
  .app-swatch-bg-i-79 {
    color: #8592e0;
  }
  .app-swatch-fg-79 {
    color: #000;
  }
  .app-swatch-outline-79 {
    border: 1px solid #8592e0;
  }
  .app-swatch-bg-80 {
    background-color: #9f85e0;
  }
  .app-swatch-bg-i-80 {
    color: #9f85e0;
  }
  .app-swatch-fg-80 {
    color: #000;
  }
  .app-swatch-outline-80 {
    border: 1px solid #9f85e0;
  }
  .app-swatch-bg-81 {
    background-color: #c685e0;
  }
  .app-swatch-bg-i-81 {
    color: #c685e0;
  }
  .app-swatch-fg-81 {
    color: #000;
  }
  .app-swatch-outline-81 {
    border: 1px solid #c685e0;
  }
  .app-swatch-bg-82 {
    background-color: #e085d3;
  }
  .app-swatch-bg-i-82 {
    color: #e085d3;
  }
  .app-swatch-fg-82 {
    color: #000;
  }
  .app-swatch-outline-82 {
    border: 1px solid #e085d3;
  }
  .app-swatch-bg-83 {
    background-color: #e085ac;
  }
  .app-swatch-bg-i-83 {
    color: #e085ac;
  }
  .app-swatch-fg-83 {
    color: #000;
  }
  .app-swatch-outline-83 {
    border: 1px solid #e085ac;
  }
  .app-swatch-bg-84 {
    background-color: #e08585;
  }
  .app-swatch-bg-i-84 {
    color: #e08585;
  }
  .app-swatch-fg-84 {
    color: #000;
  }
  .app-swatch-outline-84 {
    border: 1px solid #e08585;
  }
  .app-swatch-bg-85 {
    background-color: #ebc8ad;
  }
  .app-swatch-bg-i-85 {
    color: #ebc8ad;
  }
  .app-swatch-fg-85 {
    color: #000;
  }
  .app-swatch-outline-85 {
    border: 1px solid #ebc8ad;
  }
  .app-swatch-bg-86 {
    background-color: #ebe2ad;
  }
  .app-swatch-bg-i-86 {
    color: #ebe2ad;
  }
  .app-swatch-fg-86 {
    color: #000;
  }
  .app-swatch-outline-86 {
    border: 1px solid #ebe2ad;
  }
  .app-swatch-bg-87 {
    background-color: #d9ebad;
  }
  .app-swatch-bg-i-87 {
    color: #d9ebad;
  }
  .app-swatch-fg-87 {
    color: #000;
  }
  .app-swatch-outline-87 {
    border: 1px solid #d9ebad;
  }
  .app-swatch-bg-88 {
    background-color: #bfebad;
  }
  .app-swatch-bg-i-88 {
    color: #bfebad;
  }
  .app-swatch-fg-88 {
    color: #000;
  }
  .app-swatch-outline-88 {
    border: 1px solid #bfebad;
  }
  .app-swatch-bg-89 {
    background-color: #adebb6;
  }
  .app-swatch-bg-i-89 {
    color: #adebb6;
  }
  .app-swatch-fg-89 {
    color: #000;
  }
  .app-swatch-outline-89 {
    border: 1px solid #adebb6;
  }
  .app-swatch-bg-90 {
    background-color: #adebd0;
  }
  .app-swatch-bg-i-90 {
    color: #adebd0;
  }
  .app-swatch-fg-90 {
    color: #000;
  }
  .app-swatch-outline-90 {
    border: 1px solid #adebd0;
  }
  .app-swatch-bg-91 {
    background-color: #adebeb;
  }
  .app-swatch-bg-i-91 {
    color: #adebeb;
  }
  .app-swatch-fg-91 {
    color: #000;
  }
  .app-swatch-outline-91 {
    border: 1px solid #adebeb;
  }
  .app-swatch-bg-92 {
    background-color: #add0eb;
  }
  .app-swatch-bg-i-92 {
    color: #add0eb;
  }
  .app-swatch-fg-92 {
    color: #000;
  }
  .app-swatch-outline-92 {
    border: 1px solid #add0eb;
  }
  .app-swatch-bg-93 {
    background-color: #adb6eb;
  }
  .app-swatch-bg-i-93 {
    color: #adb6eb;
  }
  .app-swatch-fg-93 {
    color: #000;
  }
  .app-swatch-outline-93 {
    border: 1px solid #adb6eb;
  }
  .app-swatch-bg-94 {
    background-color: #bfadeb;
  }
  .app-swatch-bg-i-94 {
    color: #bfadeb;
  }
  .app-swatch-fg-94 {
    color: #000;
  }
  .app-swatch-outline-94 {
    border: 1px solid #bfadeb;
  }
  .app-swatch-bg-95 {
    background-color: #d9adeb;
  }
  .app-swatch-bg-i-95 {
    color: #d9adeb;
  }
  .app-swatch-fg-95 {
    color: #000;
  }
  .app-swatch-outline-95 {
    border: 1px solid #d9adeb;
  }
  .app-swatch-bg-96 {
    background-color: #ebade2;
  }
  .app-swatch-bg-i-96 {
    color: #ebade2;
  }
  .app-swatch-fg-96 {
    color: #000;
  }
  .app-swatch-outline-96 {
    border: 1px solid #ebade2;
  }
  .app-swatch-bg-97 {
    background-color: #ebadc8;
  }
  .app-swatch-bg-i-97 {
    color: #ebadc8;
  }
  .app-swatch-fg-97 {
    color: #000;
  }
  .app-swatch-outline-97 {
    border: 1px solid #ebadc8;
  }
  .app-swatch-bg-98 {
    background-color: #ebadad;
  }
  .app-swatch-bg-i-98 {
    color: #ebadad;
  }
  .app-swatch-fg-98 {
    color: #000;
  }
  .app-swatch-outline-98 {
    border: 1px solid #ebadad;
  }
}
.theme_light {
  .app-swatch-bg-1 {
    background-color: #522f14;
  }
  .app-swatch-bg-i-1 {
    color: #522f14;
  }
  .app-swatch-fg-1 {
    color: #fff;
  }
  .app-swatch-outline-1 {
    border: 1px solid #522f14;
  }
  .app-swatch-bg-2 {
    background-color: #524914;
  }
  .app-swatch-bg-i-2 {
    color: #524914;
  }
  .app-swatch-fg-2 {
    color: #fff;
  }
  .app-swatch-outline-2 {
    border: 1px solid #524914;
  }
  .app-swatch-bg-3 {
    background-color: #405214;
  }
  .app-swatch-bg-i-3 {
    color: #405214;
  }
  .app-swatch-fg-3 {
    color: #fff;
  }
  .app-swatch-outline-3 {
    border: 1px solid #405214;
  }
  .app-swatch-bg-4 {
    background-color: #265214;
  }
  .app-swatch-bg-i-4 {
    color: #265214;
  }
  .app-swatch-fg-4 {
    color: #fff;
  }
  .app-swatch-outline-4 {
    border: 1px solid #265214;
  }
  .app-swatch-bg-5 {
    background-color: #14521d;
  }
  .app-swatch-bg-i-5 {
    color: #14521d;
  }
  .app-swatch-fg-5 {
    color: #fff;
  }
  .app-swatch-outline-5 {
    border: 1px solid #14521d;
  }
  .app-swatch-bg-6 {
    background-color: #145237;
  }
  .app-swatch-bg-i-6 {
    color: #145237;
  }
  .app-swatch-fg-6 {
    color: #fff;
  }
  .app-swatch-outline-6 {
    border: 1px solid #145237;
  }
  .app-swatch-bg-7 {
    background-color: #145252;
  }
  .app-swatch-bg-i-7 {
    color: #145252;
  }
  .app-swatch-fg-7 {
    color: #fff;
  }
  .app-swatch-outline-7 {
    border: 1px solid #145252;
  }
  .app-swatch-bg-8 {
    background-color: #143752;
  }
  .app-swatch-bg-i-8 {
    color: #143752;
  }
  .app-swatch-fg-8 {
    color: #fff;
  }
  .app-swatch-outline-8 {
    border: 1px solid #143752;
  }
  .app-swatch-bg-9 {
    background-color: #141d52;
  }
  .app-swatch-bg-i-9 {
    color: #141d52;
  }
  .app-swatch-fg-9 {
    color: #fff;
  }
  .app-swatch-outline-9 {
    border: 1px solid #141d52;
  }
  .app-swatch-bg-10 {
    background-color: #261452;
  }
  .app-swatch-bg-i-10 {
    color: #261452;
  }
  .app-swatch-fg-10 {
    color: #fff;
  }
  .app-swatch-outline-10 {
    border: 1px solid #261452;
  }
  .app-swatch-bg-11 {
    background-color: #401452;
  }
  .app-swatch-bg-i-11 {
    color: #401452;
  }
  .app-swatch-fg-11 {
    color: #fff;
  }
  .app-swatch-outline-11 {
    border: 1px solid #401452;
  }
  .app-swatch-bg-12 {
    background-color: #521449;
  }
  .app-swatch-bg-i-12 {
    color: #521449;
  }
  .app-swatch-fg-12 {
    color: #fff;
  }
  .app-swatch-outline-12 {
    border: 1px solid #521449;
  }
  .app-swatch-bg-13 {
    background-color: #52142f;
  }
  .app-swatch-bg-i-13 {
    color: #52142f;
  }
  .app-swatch-fg-13 {
    color: #fff;
  }
  .app-swatch-outline-13 {
    border: 1px solid #52142f;
  }
  .app-swatch-bg-14 {
    background-color: #521414;
  }
  .app-swatch-bg-i-14 {
    color: #521414;
  }
  .app-swatch-fg-14 {
    color: #fff;
  }
  .app-swatch-outline-14 {
    border: 1px solid #521414;
  }
  .app-swatch-bg-15 {
    background-color: #734726;
  }
  .app-swatch-bg-i-15 {
    color: #734726;
  }
  .app-swatch-fg-15 {
    color: #fff;
  }
  .app-swatch-outline-15 {
    border: 1px solid #734726;
  }
  .app-swatch-bg-16 {
    background-color: #736826;
  }
  .app-swatch-bg-i-16 {
    color: #736826;
  }
  .app-swatch-fg-16 {
    color: #fff;
  }
  .app-swatch-outline-16 {
    border: 1px solid #736826;
  }
  .app-swatch-bg-17 {
    background-color: #5d7326;
  }
  .app-swatch-bg-i-17 {
    color: #5d7326;
  }
  .app-swatch-fg-17 {
    color: #fff;
  }
  .app-swatch-outline-17 {
    border: 1px solid #5d7326;
  }
  .app-swatch-bg-18 {
    background-color: #3c7326;
  }
  .app-swatch-bg-i-18 {
    color: #3c7326;
  }
  .app-swatch-fg-18 {
    color: #fff;
  }
  .app-swatch-outline-18 {
    border: 1px solid #3c7326;
  }
  .app-swatch-bg-19 {
    background-color: #267331;
  }
  .app-swatch-bg-i-19 {
    color: #267331;
  }
  .app-swatch-fg-19 {
    color: #fff;
  }
  .app-swatch-outline-19 {
    border: 1px solid #267331;
  }
  .app-swatch-bg-20 {
    background-color: #267352;
  }
  .app-swatch-bg-i-20 {
    color: #267352;
  }
  .app-swatch-fg-20 {
    color: #fff;
  }
  .app-swatch-outline-20 {
    border: 1px solid #267352;
  }
  .app-swatch-bg-21 {
    background-color: #267373;
  }
  .app-swatch-bg-i-21 {
    color: #267373;
  }
  .app-swatch-fg-21 {
    color: #fff;
  }
  .app-swatch-outline-21 {
    border: 1px solid #267373;
  }
  .app-swatch-bg-22 {
    background-color: #265273;
  }
  .app-swatch-bg-i-22 {
    color: #265273;
  }
  .app-swatch-fg-22 {
    color: #fff;
  }
  .app-swatch-outline-22 {
    border: 1px solid #265273;
  }
  .app-swatch-bg-23 {
    background-color: #263173;
  }
  .app-swatch-bg-i-23 {
    color: #263173;
  }
  .app-swatch-fg-23 {
    color: #fff;
  }
  .app-swatch-outline-23 {
    border: 1px solid #263173;
  }
  .app-swatch-bg-24 {
    background-color: #3c2673;
  }
  .app-swatch-bg-i-24 {
    color: #3c2673;
  }
  .app-swatch-fg-24 {
    color: #fff;
  }
  .app-swatch-outline-24 {
    border: 1px solid #3c2673;
  }
  .app-swatch-bg-25 {
    background-color: #5d2673;
  }
  .app-swatch-bg-i-25 {
    color: #5d2673;
  }
  .app-swatch-fg-25 {
    color: #fff;
  }
  .app-swatch-outline-25 {
    border: 1px solid #5d2673;
  }
  .app-swatch-bg-26 {
    background-color: #732668;
  }
  .app-swatch-bg-i-26 {
    color: #732668;
  }
  .app-swatch-fg-26 {
    color: #fff;
  }
  .app-swatch-outline-26 {
    border: 1px solid #732668;
  }
  .app-swatch-bg-27 {
    background-color: #732647;
  }
  .app-swatch-bg-i-27 {
    color: #732647;
  }
  .app-swatch-fg-27 {
    color: #fff;
  }
  .app-swatch-outline-27 {
    border: 1px solid #732647;
  }
  .app-swatch-bg-28 {
    background-color: #732626;
  }
  .app-swatch-bg-i-28 {
    color: #732626;
  }
  .app-swatch-fg-28 {
    color: #fff;
  }
  .app-swatch-outline-28 {
    border: 1px solid #732626;
  }
  .app-swatch-bg-29 {
    background-color: #a35d29;
  }
  .app-swatch-bg-i-29 {
    color: #a35d29;
  }
  .app-swatch-fg-29 {
    color: #fff;
  }
  .app-swatch-outline-29 {
    border: 1px solid #a35d29;
  }
  .app-swatch-bg-30 {
    background-color: #7a6d1f;
  }
  .app-swatch-bg-i-30 {
    color: #7a6d1f;
  }
  .app-swatch-fg-30 {
    color: #fff;
  }
  .app-swatch-outline-30 {
    border: 1px solid #7a6d1f;
  }
  .app-swatch-bg-31 {
    background-color: #607a1f;
  }
  .app-swatch-bg-i-31 {
    color: #607a1f;
  }
  .app-swatch-fg-31 {
    color: #fff;
  }
  .app-swatch-outline-31 {
    border: 1px solid #607a1f;
  }
  .app-swatch-bg-32 {
    background-color: #4ca329;
  }
  .app-swatch-bg-i-32 {
    color: #4ca329;
  }
  .app-swatch-fg-32 {
    color: #fff;
  }
  .app-swatch-outline-32 {
    border: 1px solid #4ca329;
  }
  .app-swatch-bg-33 {
    background-color: #29a33a;
  }
  .app-swatch-bg-i-33 {
    color: #29a33a;
  }
  .app-swatch-fg-33 {
    color: #fff;
  }
  .app-swatch-outline-33 {
    border: 1px solid #29a33a;
  }
  .app-swatch-bg-34 {
    background-color: #29a36f;
  }
  .app-swatch-bg-i-34 {
    color: #29a36f;
  }
  .app-swatch-fg-34 {
    color: #fff;
  }
  .app-swatch-outline-34 {
    border: 1px solid #29a36f;
  }
  .app-swatch-bg-35 {
    background-color: #29a3a3;
  }
  .app-swatch-bg-i-35 {
    color: #29a3a3;
  }
  .app-swatch-fg-35 {
    color: #fff;
  }
  .app-swatch-outline-35 {
    border: 1px solid #29a3a3;
  }
  .app-swatch-bg-36 {
    background-color: #296fa3;
  }
  .app-swatch-bg-i-36 {
    color: #296fa3;
  }
  .app-swatch-fg-36 {
    color: #fff;
  }
  .app-swatch-outline-36 {
    border: 1px solid #296fa3;
  }
  .app-swatch-bg-37 {
    background-color: #293aa3;
  }
  .app-swatch-bg-i-37 {
    color: #293aa3;
  }
  .app-swatch-fg-37 {
    color: #fff;
  }
  .app-swatch-outline-37 {
    border: 1px solid #293aa3;
  }
  .app-swatch-bg-38 {
    background-color: #4c29a3;
  }
  .app-swatch-bg-i-38 {
    color: #4c29a3;
  }
  .app-swatch-fg-38 {
    color: #fff;
  }
  .app-swatch-outline-38 {
    border: 1px solid #4c29a3;
  }
  .app-swatch-bg-39 {
    background-color: #8029a3;
  }
  .app-swatch-bg-i-39 {
    color: #8029a3;
  }
  .app-swatch-fg-39 {
    color: #fff;
  }
  .app-swatch-outline-39 {
    border: 1px solid #8029a3;
  }
  .app-swatch-bg-40 {
    background-color: #a32992;
  }
  .app-swatch-bg-i-40 {
    color: #a32992;
  }
  .app-swatch-fg-40 {
    color: #fff;
  }
  .app-swatch-outline-40 {
    border: 1px solid #a32992;
  }
  .app-swatch-bg-41 {
    background-color: #a3295d;
  }
  .app-swatch-bg-i-41 {
    color: #a3295d;
  }
  .app-swatch-fg-41 {
    color: #fff;
  }
  .app-swatch-outline-41 {
    border: 1px solid #a3295d;
  }
  .app-swatch-bg-42 {
    background-color: #a32929;
  }
  .app-swatch-bg-i-42 {
    color: #a32929;
  }
  .app-swatch-fg-42 {
    color: #fff;
  }
  .app-swatch-outline-42 {
    border: 1px solid #a32929;
  }
  .app-swatch-bg-43 {
    background-color: #a35e29;
  }
  .app-swatch-bg-i-43 {
    color: #a35e29;
  }
  .app-swatch-fg-43 {
    color: #fff;
  }
  .app-swatch-outline-43 {
    border: 1px solid #a35e29;
  }
  .app-swatch-bg-44 {
    background-color: #a39129;
  }
  .app-swatch-bg-i-44 {
    color: #a39129;
  }
  .app-swatch-fg-44 {
    color: #000;
  }
  .app-swatch-outline-44 {
    border: 1px solid #a39129;
  }
  .app-swatch-bg-45 {
    background-color: #81a329;
  }
  .app-swatch-bg-i-45 {
    color: #81a329;
  }
  .app-swatch-fg-45 {
    color: #000;
  }
  .app-swatch-outline-45 {
    border: 1px solid #81a329;
  }
  .app-swatch-bg-46 {
    background-color: #4ba329;
  }
  .app-swatch-bg-i-46 {
    color: #4ba329;
  }
  .app-swatch-fg-46 {
    color: #fff;
  }
  .app-swatch-outline-46 {
    border: 1px solid #4ba329;
  }
  .app-swatch-bg-47 {
    background-color: #29a33b;
  }
  .app-swatch-bg-i-47 {
    color: #29a33b;
  }
  .app-swatch-fg-47 {
    color: #fff;
  }
  .app-swatch-outline-47 {
    border: 1px solid #29a33b;
  }
  .app-swatch-bg-48 {
    background-color: #29a36e;
  }
  .app-swatch-bg-i-48 {
    color: #29a36e;
  }
  .app-swatch-fg-48 {
    color: #fff;
  }
  .app-swatch-outline-48 {
    border: 1px solid #29a36e;
  }
  .app-swatch-bg-49 {
    background-color: #29a3a3;
  }
  .app-swatch-bg-i-49 {
    color: #29a3a3;
  }
  .app-swatch-fg-49 {
    color: #fff;
  }
  .app-swatch-outline-49 {
    border: 1px solid #29a3a3;
  }
  .app-swatch-bg-50 {
    background-color: #338acc;
  }
  .app-swatch-bg-i-50 {
    color: #338acc;
  }
  .app-swatch-fg-50 {
    color: #fff;
  }
  .app-swatch-outline-50 {
    border: 1px solid #338acc;
  }
  .app-swatch-bg-51 {
    background-color: #3349cc;
  }
  .app-swatch-bg-i-51 {
    color: #3349cc;
  }
  .app-swatch-fg-51 {
    color: #fff;
  }
  .app-swatch-outline-51 {
    border: 1px solid #3349cc;
  }
  .app-swatch-bg-52 {
    background-color: #5f33cc;
  }
  .app-swatch-bg-i-52 {
    color: #5f33cc;
  }
  .app-swatch-fg-52 {
    color: #fff;
  }
  .app-swatch-outline-52 {
    border: 1px solid #5f33cc;
  }
  .app-swatch-bg-53 {
    background-color: #a033cc;
  }
  .app-swatch-bg-i-53 {
    color: #a033cc;
  }
  .app-swatch-fg-53 {
    color: #fff;
  }
  .app-swatch-outline-53 {
    border: 1px solid #a033cc;
  }
  .app-swatch-bg-54 {
    background-color: #cc33b6;
  }
  .app-swatch-bg-i-54 {
    color: #cc33b6;
  }
  .app-swatch-fg-54 {
    color: #fff;
  }
  .app-swatch-outline-54 {
    border: 1px solid #cc33b6;
  }
  .app-swatch-bg-55 {
    background-color: #cc3375;
  }
  .app-swatch-bg-i-55 {
    color: #cc3375;
  }
  .app-swatch-fg-55 {
    color: #fff;
  }
  .app-swatch-outline-55 {
    border: 1px solid #cc3375;
  }
  .app-swatch-bg-56 {
    background-color: #cc3333;
  }
  .app-swatch-bg-i-56 {
    color: #cc3333;
  }
  .app-swatch-fg-56 {
    color: #fff;
  }
  .app-swatch-outline-56 {
    border: 1px solid #cc3333;
  }
  .app-swatch-bg-57 {
    background-color: #cc7533;
  }
  .app-swatch-bg-i-57 {
    color: #cc7533;
  }
  .app-swatch-fg-57 {
    color: #000;
  }
  .app-swatch-outline-57 {
    border: 1px solid #cc7533;
  }
  .app-swatch-bg-58 {
    background-color: #ccb533;
  }
  .app-swatch-bg-i-58 {
    color: #ccb533;
  }
  .app-swatch-fg-58 {
    color: #000;
  }
  .app-swatch-outline-58 {
    border: 1px solid #ccb533;
  }
  .app-swatch-bg-59 {
    background-color: #a1cc33;
  }
  .app-swatch-bg-i-59 {
    color: #a1cc33;
  }
  .app-swatch-fg-59 {
    color: #000;
  }
  .app-swatch-outline-59 {
    border: 1px solid #a1cc33;
  }
  .app-swatch-bg-60 {
    background-color: #5ecc33;
  }
  .app-swatch-bg-i-60 {
    color: #5ecc33;
  }
  .app-swatch-fg-60 {
    color: #000;
  }
  .app-swatch-outline-60 {
    border: 1px solid #5ecc33;
  }
  .app-swatch-bg-61 {
    background-color: #33cc4a;
  }
  .app-swatch-bg-i-61 {
    color: #33cc4a;
  }
  .app-swatch-fg-61 {
    color: #000;
  }
  .app-swatch-outline-61 {
    border: 1px solid #33cc4a;
  }
  .app-swatch-bg-62 {
    background-color: #33cc8a;
  }
  .app-swatch-bg-i-62 {
    color: #33cc8a;
  }
  .app-swatch-fg-62 {
    color: #000;
  }
  .app-swatch-outline-62 {
    border: 1px solid #33cc8a;
  }
  .app-swatch-bg-63 {
    background-color: #33cccc;
  }
  .app-swatch-bg-i-63 {
    color: #33cccc;
  }
  .app-swatch-fg-63 {
    color: #000;
  }
  .app-swatch-outline-63 {
    border: 1px solid #33cccc;
  }
  .app-swatch-bg-64 {
    background-color: #338acc;
  }
  .app-swatch-bg-i-64 {
    color: #338acc;
  }
  .app-swatch-fg-64 {
    color: #fff;
  }
  .app-swatch-outline-64 {
    border: 1px solid #338acc;
  }
  .app-swatch-bg-65 {
    background-color: #5c6dd6;
  }
  .app-swatch-bg-i-65 {
    color: #5c6dd6;
  }
  .app-swatch-fg-65 {
    color: #fff;
  }
  .app-swatch-outline-65 {
    border: 1px solid #5c6dd6;
  }
  .app-swatch-bg-66 {
    background-color: #7f5cd6;
  }
  .app-swatch-bg-i-66 {
    color: #7f5cd6;
  }
  .app-swatch-fg-66 {
    color: #fff;
  }
  .app-swatch-outline-66 {
    border: 1px solid #7f5cd6;
  }
  .app-swatch-bg-67 {
    background-color: #a133cc;
  }
  .app-swatch-bg-i-67 {
    color: #a133cc;
  }
  .app-swatch-fg-67 {
    color: #fff;
  }
  .app-swatch-outline-67 {
    border: 1px solid #a133cc;
  }
  .app-swatch-bg-68 {
    background-color: #cc33b5;
  }
  .app-swatch-bg-i-68 {
    color: #cc33b5;
  }
  .app-swatch-fg-68 {
    color: #fff;
  }
  .app-swatch-outline-68 {
    border: 1px solid #cc33b5;
  }
  .app-swatch-bg-69 {
    background-color: #cc3375;
  }
  .app-swatch-bg-i-69 {
    color: #cc3375;
  }
  .app-swatch-fg-69 {
    color: #fff;
  }
  .app-swatch-outline-69 {
    border: 1px solid #cc3375;
  }
  .app-swatch-bg-70 {
    background-color: #cc3333;
  }
  .app-swatch-bg-i-70 {
    color: #cc3333;
  }
  .app-swatch-fg-70 {
    color: #fff;
  }
  .app-swatch-outline-70 {
    border: 1px solid #cc3333;
  }
  .app-swatch-bg-71 {
    background-color: #d6915c;
  }
  .app-swatch-bg-i-71 {
    color: #d6915c;
  }
  .app-swatch-fg-71 {
    color: #000;
  }
  .app-swatch-outline-71 {
    border: 1px solid #d6915c;
  }
  .app-swatch-bg-72 {
    background-color: #d6c45c;
  }
  .app-swatch-bg-i-72 {
    color: #d6c45c;
  }
  .app-swatch-fg-72 {
    color: #000;
  }
  .app-swatch-outline-72 {
    border: 1px solid #d6c45c;
  }
  .app-swatch-bg-73 {
    background-color: #b4d65c;
  }
  .app-swatch-bg-i-73 {
    color: #b4d65c;
  }
  .app-swatch-fg-73 {
    color: #000;
  }
  .app-swatch-outline-73 {
    border: 1px solid #b4d65c;
  }
  .app-swatch-bg-74 {
    background-color: #7ed65c;
  }
  .app-swatch-bg-i-74 {
    color: #7ed65c;
  }
  .app-swatch-fg-74 {
    color: #000;
  }
  .app-swatch-outline-74 {
    border: 1px solid #7ed65c;
  }
  .app-swatch-bg-75 {
    background-color: #5cd66e;
  }
  .app-swatch-bg-i-75 {
    color: #5cd66e;
  }
  .app-swatch-fg-75 {
    color: #000;
  }
  .app-swatch-outline-75 {
    border: 1px solid #5cd66e;
  }
  .app-swatch-bg-76 {
    background-color: #5cd6a1;
  }
  .app-swatch-bg-i-76 {
    color: #5cd6a1;
  }
  .app-swatch-fg-76 {
    color: #000;
  }
  .app-swatch-outline-76 {
    border: 1px solid #5cd6a1;
  }
  .app-swatch-bg-77 {
    background-color: #5cd6d6;
  }
  .app-swatch-bg-i-77 {
    color: #5cd6d6;
  }
  .app-swatch-fg-77 {
    color: #000;
  }
  .app-swatch-outline-77 {
    border: 1px solid #5cd6d6;
  }
  .app-swatch-bg-78 {
    background-color: #5ca1d6;
  }
  .app-swatch-bg-i-78 {
    color: #5ca1d6;
  }
  .app-swatch-fg-78 {
    color: #000;
  }
  .app-swatch-outline-78 {
    border: 1px solid #5ca1d6;
  }
  .app-swatch-bg-79 {
    background-color: #5c6ed6;
  }
  .app-swatch-bg-i-79 {
    color: #5c6ed6;
  }
  .app-swatch-fg-79 {
    color: #fff;
  }
  .app-swatch-outline-79 {
    border: 1px solid #5c6ed6;
  }
  .app-swatch-bg-80 {
    background-color: #7e5cd6;
  }
  .app-swatch-bg-i-80 {
    color: #7e5cd6;
  }
  .app-swatch-fg-80 {
    color: #fff;
  }
  .app-swatch-outline-80 {
    border: 1px solid #7e5cd6;
  }
  .app-swatch-bg-81 {
    background-color: #b45cd6;
  }
  .app-swatch-bg-i-81 {
    color: #b45cd6;
  }
  .app-swatch-fg-81 {
    color: #000;
  }
  .app-swatch-outline-81 {
    border: 1px solid #b45cd6;
  }
  .app-swatch-bg-82 {
    background-color: #d65cc4;
  }
  .app-swatch-bg-i-82 {
    color: #d65cc4;
  }
  .app-swatch-fg-82 {
    color: #000;
  }
  .app-swatch-outline-82 {
    border: 1px solid #d65cc4;
  }
  .app-swatch-bg-83 {
    background-color: #d65c91;
  }
  .app-swatch-bg-i-83 {
    color: #d65c91;
  }
  .app-swatch-fg-83 {
    color: #000;
  }
  .app-swatch-outline-83 {
    border: 1px solid #d65c91;
  }
  .app-swatch-bg-84 {
    background-color: #d65c5c;
  }
  .app-swatch-bg-i-84 {
    color: #d65c5c;
  }
  .app-swatch-fg-84 {
    color: #000;
  }
  .app-swatch-outline-84 {
    border: 1px solid #d65c5c;
  }
  .app-swatch-bg-85 {
    background-color: #e0ac85;
  }
  .app-swatch-bg-i-85 {
    color: #e0ac85;
  }
  .app-swatch-fg-85 {
    color: #000;
  }
  .app-swatch-outline-85 {
    border: 1px solid #e0ac85;
  }
  .app-swatch-bg-86 {
    background-color: #e0d385;
  }
  .app-swatch-bg-i-86 {
    color: #e0d385;
  }
  .app-swatch-fg-86 {
    color: #000;
  }
  .app-swatch-outline-86 {
    border: 1px solid #e0d385;
  }
  .app-swatch-bg-87 {
    background-color: #c6e085;
  }
  .app-swatch-bg-i-87 {
    color: #c6e085;
  }
  .app-swatch-fg-87 {
    color: #000;
  }
  .app-swatch-outline-87 {
    border: 1px solid #c6e085;
  }
  .app-swatch-bg-88 {
    background-color: #9fe085;
  }
  .app-swatch-bg-i-88 {
    color: #9fe085;
  }
  .app-swatch-fg-88 {
    color: #000;
  }
  .app-swatch-outline-88 {
    border: 1px solid #9fe085;
  }
  .app-swatch-bg-89 {
    background-color: #85e092;
  }
  .app-swatch-bg-i-89 {
    color: #85e092;
  }
  .app-swatch-fg-89 {
    color: #000;
  }
  .app-swatch-outline-89 {
    border: 1px solid #85e092;
  }
  .app-swatch-bg-90 {
    background-color: #85e0b9;
  }
  .app-swatch-bg-i-90 {
    color: #85e0b9;
  }
  .app-swatch-fg-90 {
    color: #000;
  }
  .app-swatch-outline-90 {
    border: 1px solid #85e0b9;
  }
  .app-swatch-bg-91 {
    background-color: #85e0e0;
  }
  .app-swatch-bg-i-91 {
    color: #85e0e0;
  }
  .app-swatch-fg-91 {
    color: #000;
  }
  .app-swatch-outline-91 {
    border: 1px solid #85e0e0;
  }
  .app-swatch-bg-92 {
    background-color: #85b9e0;
  }
  .app-swatch-bg-i-92 {
    color: #85b9e0;
  }
  .app-swatch-fg-92 {
    color: #000;
  }
  .app-swatch-outline-92 {
    border: 1px solid #85b9e0;
  }
  .app-swatch-bg-93 {
    background-color: #8592e0;
  }
  .app-swatch-bg-i-93 {
    color: #8592e0;
  }
  .app-swatch-fg-93 {
    color: #000;
  }
  .app-swatch-outline-93 {
    border: 1px solid #8592e0;
  }
  .app-swatch-bg-94 {
    background-color: #9f85e0;
  }
  .app-swatch-bg-i-94 {
    color: #9f85e0;
  }
  .app-swatch-fg-94 {
    color: #000;
  }
  .app-swatch-outline-94 {
    border: 1px solid #9f85e0;
  }
  .app-swatch-bg-95 {
    background-color: #c685e0;
  }
  .app-swatch-bg-i-95 {
    color: #c685e0;
  }
  .app-swatch-fg-95 {
    color: #000;
  }
  .app-swatch-outline-95 {
    border: 1px solid #c685e0;
  }
  .app-swatch-bg-96 {
    background-color: #e085d3;
  }
  .app-swatch-bg-i-96 {
    color: #e085d3;
  }
  .app-swatch-fg-96 {
    color: #000;
  }
  .app-swatch-outline-96 {
    border: 1px solid #e085d3;
  }
  .app-swatch-bg-97 {
    background-color: #e085ac;
  }
  .app-swatch-bg-i-97 {
    color: #e085ac;
  }
  .app-swatch-fg-97 {
    color: #000;
  }
  .app-swatch-outline-97 {
    border: 1px solid #e085ac;
  }
  .app-swatch-bg-98 {
    background-color: #e08585;
  }
  .app-swatch-bg-i-98 {
    color: #e08585;
  }
  .app-swatch-fg-98 {
    color: #000;
  }
  .app-swatch-outline-98 {
    border: 1px solid #e08585;
  }
}
